<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.schulcloud.mobile">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SchulCloudApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/brand_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  -->
        <activity
            android:name=".controllers.main.SplashActivity"
            android:label="@string/brand_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity
            android:name=".controllers.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TranslucentStatus" />

        <activity android:name=".controllers.login.LoginActivity" />

        <activity
            android:name=".controllers.course.CourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.topic.TopicActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.course.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.course.CourseActivity" />
        </activity>

        <activity
            android:name=".controllers.homework.HomeworkActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>

        <activity
            android:name=".controllers.file.FileActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>

        <activity
        android:name=".controllers.settings.SettingsActivity"
        android:launchMode="singleTop"
        android:parentActivityName=".controllers.main.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".controllers.main.MainActivity" />
        </activity>

    </application>

</manifest>
